.panel, .panel-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel{
    border: #008000 1px solid;
    padding: 0;
}

.panel-header{
    background-color: #008000;
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
}

.panel-content{
    background-color: #7d7d7d;
}

.panel-list{
    margin: 0;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}