*{
    font-family: 'Times New Roman', Times, serif !important;
    color: #000000;
}

body{
    background-color: #000000;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0.25em;
}

@for $i from 1 through 6 {
    h#{$i}{
        font-size: $largest-header-font - ($i - 1)*$header-level;
    }
  }

.content{
    background-color: #7d7d7d;
    padding-left: 5px;
    padding-right: 5px;
}

.face-img{
    width: 100%;
    margin-top: 2em;
}

.text-container{
    text-align: justify;
    margin-top: 1em;
}

@media screen and (max-width: $m-l-breakpoint){
    .face-img{
        margin-top: 0;
    }
}

.panel, .panel-header{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.panel{
    border: #008000 1px solid;
    padding: 0;
}

.panel-header{
    background-color: #008000;
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
}

.panel-content{
    background-color: #8f8f8f;
}

.panel, .panel-content{
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.panel-list{
    margin: 0;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    list-style: inside;
}

.hobby-desc{
    margin: 0;
    padding-top: 0.5em;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0.5em;
    text-align: justify;
}

.error{
    color: #FF6800;
}

.author{
    font-weight: bold;
}

.opinion{
    background-color: #8f8f8f;
}